GITLAB_BASE_URL=https://gitlab.com
GITLAB_TOKEN=
GITLAB_PROJECT_ID=
GITLAB_RELEASE_BRANCH=release/friday
INQUISITOR_ADAPTER=mock
INQUISITOR_WRITE_MODE=prepare
AGENT_BUILDER_ENDPOINT=
GITLAB_MCP_SERVER_URL=
